:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

#app {
  box-shadow: 1px 1px 3px #2223;
  width: 80vw;
  max-width: 1400px;
  margin: 10px auto;
  padding: 20px;
}

pre {
    font-size: smaller;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #eee;
    }
    #app {
        background-color: #333;
    }
}